<p class="head-col pt-3 pb-3">Students</p>

<%= render 'form', student: @student %>

<%= link_to 'Show', @student,:class=> "btn btn-dark text-light m-3" %> <span class="text-light pr-0"> | </span>
<%= link_to 'Back', students_path, :class=> "btn btn-dark text-light m-3" %>
