
<p class="head-col pt-3 pb-3">Editing Student Mark</p>


<%= render 'form', student_profile: @student_profile %>

<%= link_to 'Show', @student_profile,:class=> "btn btn-dark text-light m-3" %> <span class="text-light pr-0"> | </span>
<%= link_to 'Back', student_profiles_path,:class=> "btn btn-dark text-light m-3" %>
