<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-4 bg-white rounded">
  <a class="navbar-brand" href="#">Instagram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-5 justify-content-between" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    
    <div>
      <img class="" src="assets/house.svg">
      <img class="" src="assets/send.svg">
      <img class="" src="assets/plus.svg">
      <img class="" src="assets/compass.svg">
      <img class="" src="assets/heart.svg">
      <img class="" src="assets/person-fill.svg">
    </div>

  </div>
</nav>