<%=render 'header' %>
    <div class="container" style="background: #ffff;">
        <div class="row mb-4">
            <div class="col-8">
                <div>
                    <div class="shadow border pt-2 pl-2 pr-2 bg-white rounded">
                        <div class="d-flex flex-row">
                            <div>
                                <img class="profile_img" src="assets/insta_stories.jpg" alt="stories">
                                <p class="text-center"> Ganesha </p>
                            </div>
                            <div>
                                <img class="profile_img" src="assets/insta_stories.jpg" alt="stories">
                                <p class="text-center"> Sai </p>
                            </div>
                            <div>
                                <img class="profile_img" src="assets/insta_stories.jpg" alt="stories">
                                <p class="text-center"> Veni </p>
                            </div>
                            <div>
                                <img class="profile_img" src="assets/insta_stories.jpg" alt="stories">
                                <p class="text-center"> Ranga </p>
                            </div>
                            <div>
                                <img class="profile_img" src="assets/insta_stories.jpg" alt="stories">
                                <p class="text-center"> Manoj </p>
                            </div>
                            <div>
                                <img class="profile_img" src="assets/insta_stories.jpg" alt="stories">
                                <p class="text-center"> Kumar </p>
                            </div>
                        </div>
                    </div>

                    <div class="shadow border pt-2 pl-2 pr-2 pb-4 bg-white rounded">
                        <div class="d-flex flex-row justify-content-between ">
                            <div class="d-flex flex-row align-items-center">
                                <img class="profile_img" src="assets/insta_stories.jpg" alt="stories">
                                <p class="text-center  mb-0"> Madhu </p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="dot_img" src="assets/three-dots.svg">
                            </div>
                        </div>
                        <div>
                            <div>
                                <img class="ganesh_pic" src="assets/ganesha.jpg">
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <div>
                                    <img class="heart-pic" src="assets/heart.svg">
                                    <img class="chat-pic" src="assets/chat.svg">
                                    <img class="send-pic" src="assets/send.svg">
                                </div>
                                <div>
                                    <img class="heart-pic" src="assets/bookmarks.svg">
                                </div>
                            </div>
                            <div class="">
                                <p class="font-weight-bold mt-2 mb-2"> 32 likes </p> 
                                <p> <span class="font-weight-bold pr-0">Sai</span> its good... more </p>
                                <p class="text-muted mt-4 mb-2"> view all 9 comments </p>
                                <p class="mb-2"> <span class="font-weight-bold pr-0">Ranga</span> its good... more </p>
                                <p class="mb-2"> <span class="font-weight-bold pr-0">Deepika</span> its good... more </p>
                                <p class="text-muted"> 3 hours ago </p>
                                <div  class="d-flex flex-row align-items-center">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Add a comment" rows="1"></textarea>
                                    <span> Post </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-top: 9px;">
                <div class="d-flex flex-row align-items-center">
                    <img class="profile_img" src="assets/insta_stories.jpg" alt="stories">
                    <p class="text-center  mb-0"> Madhu </p>
                </div>

                <div class="d-flex flex-row align-items-center justify-content-between">
                    <p class="pl-2 mb-1 mt-2 text-secondary"> Suggested for you </p>
                    <p class="text-center text-dark mb-0"> See All </p>
                </div>

                <div class="d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <img class="profile_img" src="assets/insta_stories.jpg" alt="stories">
                        <div>
                            <p class="mb-0"> Tom </p>
                            <p class="text-center  mb-0"> Folowed by Tim+4... </p>
                        </div>
                    </div>
                    
                    <div>
                    <p class="text-primary mb-0"> Follow </p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <img class="profile_img" src="assets/insta_stories.jpg" alt="stories">
                    <div>
                        <p class="mb-0"> Tom </p>
                        <p class="text-center  mb-0"> Folowed by Tim+4... </p>
                    </div>
                </div>
                
                <div>
                <p class="text-primary mb-0"> Follow </p>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <img class="profile_img" src="assets/insta_stories.jpg" alt="stories">
                <div>
                    <p class="mb-0"> Tom </p>
                    <p class="text-center  mb-0"> Folowed by Tim+4... </p>
                </div>
            </div>
            
            <div>
            <p class="text-primary mb-0"> Follow </p>
            </div>
        </div>
            </div>
        </div>
    </div>